{{ define "main" }}

<!-- details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <!-- content -->
          <div class="content mx-auto">
            <h2>{{ .Title }}</h2>
            {{ .Content }}
            {{ with .Params.Download_link }} <a href="{{ . | absURL }}" class="btn my-5 btn-primary">{{ i18n "download" }} {{ $.Title }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  details -->

{{ end }}