{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.image }}
          {{ partial "imageset.html" 
            (dict 
                "imgsrc" .
                "sizes" (slice "960" "1200" "1600" "2400") 
                "alt" $.Title  
                "class" "img-fluid w-100 mb-4"
                "vw" "90"

            ) 
          }}
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- funfacts -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      {{ range .funfact_item }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h2 class="h5 text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /funfacts -->

<!-- featured_content -->
{{ if $data.homepage.featured_content.enable }}
  {{ partial "featured_content.html" . }}
{{ end }}
<!-- /featured_content -->

<!-- teacher -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "our_teachers" }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- teacher -->
      {{ range first 3 (where site.RegularPages "Type" "teacher")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "teacher" }}
      </div>
      {{ end }}
      <a href="/teacher" class="btn btn-primary">See All Teachers</a>
    </div>
  </div>
</section>
<!-- /teacher -->

{{ end }}