.block-border-left {
    border-left: 15px solid $primary-color;
}

.feature-icon {
    background: rgb(0,187,119);
    background: linear-gradient(113deg, rgba(98,98,214,1) 0%, rgba(0,187,119,1) 100%);
    -webkit-text-fill-color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@media (min-width:300px) {
    .mobile-btn {
        display: block;
    }
}

@media (min-width:992px) {
    .mobile-btn {
        display: none;
    }
}