{{ define "main" }}

<!-- events -->
<section class="section">
  <div class="container">
    <div class="row">
      <!-- event -->
      <h2 class="mb-4 col-12">Upcoming Events</h2>
      {{ range sort (where .Data.Pages.ByDate "Date" "gt" time.Now) }}
        <div class="col-lg-4 col-sm-6 mb-5">
          {{ .Render "event" }}
        </div>
      {{ end }}
    </div>
    <div class="row">
      <!-- past events -->
      {{/* Events from the past week */}}
      <h2 class="my-4 col-12">Past Events</h2>
      {{ range sort (where (where .Data.Pages.ByDate "Date" "lt" time.Now) "Date" "gt" (time.Now.Add (time.ParseDuration "-168h"))) }}
          <div class="col-lg-4 col-sm-6 mb-5">
            {{ .Render "event" }}
          </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /events -->

{{ end }}