  
<div id="calendar" style="padding: 1rem;"></div>
  
{{ define "after_footer" }}

<link rel="stylesheet" href="/plugins/calendar-gc/calendar-gc.css">

<script>
$(function (e) {
  var calendar = $("#calendar").calendarGC({
    dayBegin: 0,
    prevIcon: '&#x3c;',
    nextIcon: '&#x3e;',
    onPrevMonth: function (e) {
      console.log("prev");
    },
    onNextMonth: function (e) {
      console.log("next");
    },
    events: getHoliday(),
    onclickDate: function (e, data) {
      console.log(e, data);
    }
  });
});

function getHoliday() {
  var d = new Date();
  var totalDay = new Date(d.getFullYear(), d.getMonth(), 0).getDate();
  var events = [];

  for (var i = 1; i <= totalDay; i++) {
    var newDate = new Date(d.getFullYear(), d.getMonth(), i);
    if (newDate.getDay() == 0) {   //if Sunday
      events.push({
        date: newDate,
        eventName: "No School",
        className: "badge bg-warning",
        onclick(e, data) {
          console.log(data);
        },
        dateColor: "tomato"
      });
    }
    if (newDate.getDay() == 6) {   //if Saturday
      events.push({
        date: newDate,
        eventName: "No School",
        className: "badge bg-warning",
        onclick(e, data) {
          console.log(data);
        },
        dateColor: "tomato"
      });
    }

  }
  return events;
}
getHoliday()
</script>

{{ end }}