<script>
  let events = JSON.parse({{ printf "%s" (.events | safeHTML) }})

  events = events.map(event => {
    return {
      date: new Date(event.Date),
      eventName: `Breakfast:<br>${event.Breakfast}<br><br>Lunch:<br>${event.Lunch}`,
    }
  })

  var calendar = $("#calendar").calendarGC({
    dayBegin: 0,
    prevIcon: '&#x3c;',
    nextIcon: '&#x3e;',
    onPrevMonth: function (e) {
      console.log("prev");
    },
    onNextMonth: function (e) {
      console.log("next");
    },
    onclickDate: function (e, data) {
      console.log(e, data);
    },
    breakpoint: 'lg',
    events: events
  });
</script>
<link rel="stylesheet" href="/plugins/calendar-gc/calendar-gc.css">