
<div id="calendar" style="padding: 1rem;"></div>
  
{{ define "after_footer" }}
<link rel="stylesheet" href="/plugins/calendar-gc/calendar-gc.css">
<script>

$(function (e) {
  function showEventModal(e, event){

  }

  var calendar = $("#calendar").calendarGC({
    dayBegin: 0,
    prevIcon: '&#x3c;',
    nextIcon: '&#x3e;',
    onPrevMonth: function (e) {
      console.log("prev");
    },
    onNextMonth: function (e) {
      console.log("next");
    },
    onclickDate: function (e, data) {
      console.log(e, data);
    },
    onclickEvent: function (e, data) {
      console.log(e)
    },
    breakpoint: 'lg',
    events: [
              {
                "date": "2023-12-26",
                "eventName": "No School",
                "className": "badge bg-warning",
                "dateColor": "tomato"
              }
            ]
  });
});
</script>

{{ end }}