{{ define "main" }}

<!-- blogs -->
<section class="section">
  <div class="container">
    <div class="row col-12 mb-2">
      {{ partial "parentsquare_feed.html" }}
    </div>
    {{ with (where $.Site.Pages "Params.type" "post") }}
      <div class="row">
        <div class="col-lg-8 order-2 order-lg-1">
          <h2>Blog</h2>
          <div class="row justify-content-center">
            <!-- blog post -->
            {{ range first 3 (where site.RegularPages "Type" "post")}}
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              {{ .Render "post" }}
            </article>
            {{ end }}
          </div>
          <div class="ml-auto my-3">
            <a href="{{`blog` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">All Posts ></a>
          </div>
        </div>
        {{ partial "blog-sidebar.html" . }}
      </div>
    {{ end }}
  </div>
</section>
<!-- /blogs -->
{{ with (where $.Site.Pages "Params.type" "event") }}
<section class="section">
  <div class="container">
    <div class="row">
      <h2 class="mb-4 col-12">Upcoming Events</h2>
      {{ with (where . "Date" "gt" time.Now) }}
        <!-- event -->
        {{ range sort . }}
          <div class="col-lg-4 col-sm-6 mb-5">
            {{ .Render "event" }}
          </div>
        {{ end }}
      {{ else }}
        <div>No upcoming events</div>
      {{ end }}
    </div>
    <div class="row">
      <!-- past events -->
      <h2 class="my-4 col-12">Past Events</h2>
      {{/* Events from the past week */}}
      {{ with (where (where . "Date" "lt" time.Now) "Date" "gt" (time.Now.Add (time.ParseDuration "-720h"))) }}
        {{ range sort . }}
          <div class="col-lg-4 col-sm-6 mb-5">
            {{ .Render "event" }}
          </div>
        {{ end }}
      {{ else }}
          No recent events
      {{ end }}
    </div>
    <div class="ml-auto my-3">
      <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">All Events ></a>
    </div>
  </div>
</section>
{{ end }}

{{ end }}